.vue-view {
  margin-bottom: 70px;
}

.store {
  margin-top: 30px;
}

.store-header {
  margin: 0 0 40px;
  display: flex;
  align-items: center;
  font-size: 27px;
  color: #fff;
  font-weight: 500;
}

.store-title {
  display: flex;
  align-items: center;
  margin: 3px 0 0;
  flex-grow: 1;
  font-size: 27px;
  color: #fff;
  font-weight: 500;
}

.ttskins-shangcheng {
  position: relative;
  margin-right: 20px;
  color: #7349ca;
  font-size: 30px;
}

.store-content {
  display: flex;
}

.store-main {
  width: 100%;
  position: relative;
}

.store-main-header {
  position: relative;
  display: flex;
  background-color: #212126;
  box-shadow: 0 18px 31px rgb(15 16 31 / 76%);
}

.store-game {
  display: flex;
  flex-shrink: 0;
  margin-right: 25px;
}

.store-game-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  height: 96px;
  padding-top: 4px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 18px;
  font-weight: 700;
  color: #6f728a;
  text-transform: uppercase;
  border-right: 1px solid #121321;

  &.active {
    color: #fff;
    border-bottom-color: #4638ad;
  }

  img {
    position: relative;
    top: -2px;
    width: 22px;
    margin-right: 16px;
  }
}

.store-sum {
  display: flex;
  align-self: center;
  flex-grow: 1;
  margin-left: 26px;
}

.store-sum-btn {
  background-color: transparent;
  cursor: pointer;
  transition: border-color .15s, color .15s;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  color: #545774;
  border-radius: 12px;
  border: 1px solid #1e2037;
  margin: 2px 5px;

  &.active {
    box-shadow: inset 0 0 26px rgb(41 34 139 / 25%);
    border-color: #434997;
    color: #fff;
  }
}

.store-search {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
  background-color: #10111f;
}

.store-search-input {
  width: 100%;
  min-width: 0;
  height: 96px;
  color: #bfc1d1;
  font-size: 18px;
  padding-left: 40px;
  background-color: #212126;
  border: 0;
  outline: 0;
}

.store-search-btn {
  border: 0;
  background-color: #212126;
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  color: #9c9eac;
  transition: color .15s;
  cursor: default;
}

.icon-search {
  width: 20px;
  height: 20px;
}

.store-items {
  // background-color: #191c34;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 22px 14px;
  position: relative;
}

.store-item {
  margin-bottom: 16px;
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
  padding-left: 8px;
  padding-right: 8px;
}

.store-item-content {
  transition: background-color .15s;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #1d203c;
  padding: 30px 15px 25px;
  border: 1px solid transparent;
  height: 100%;
  min-height: 250px;

  &:hover {
    background: #272b50;
  }
}

.store-item-img {
  max-width: 100%;
}

.status {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
}

.store-item-name {
  color: #acaec5;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  max-height: 42px;
  font-size: .7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.store-item-abrasion {
  margin-top: 4px;
  color: #545567;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.store-item-price {
  font-weight: 700;
  margin-top: 3px;
  font-size: 12px;
  color: #63bd87;
}

.more {
  margin: 0 auto;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: relative;
  top: 0;
  transform: translateY(-50%);
  background: #101120;
  border-radius: 50%;
  cursor: pointer;
}

.el-icon-bottom {
  color: #fff;
  font-size: 50px;
  vertical-align: middle;
}

.store-bean {
  font-size: 16px;
  margin-left: 20px;
  padding-top: 10px;

  .price {
    color: #75dc9e;
  }
}

.live-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
  border: 1px solid #1e2138;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: #36363c;
  text-align: left;
  padding: 20px;
  position: relative;
  text-align: center;

  &.active {
    border: 1px solid #2d2d67 !important;
    box-shadow: inset 0 0 59px rgb(41 34 139 / 15%);
  }
}

.live-item-check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  background-color: #2d2d67;
  color: #a6a6cf;
}

.icon-check {
  width: 10px;
  height: 8px;
}

.live-item-probability {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  padding: 5px 10px;
  background-color: rgba(48, 52, 88, .23);
  font-size: 10px;
  color: #a1a3b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-item-quality {
  margin-top: -13px;
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 8px;
  color: #f9a328;
  white-space: nowrap;
  line-height: 1;
  z-index: 2;
}

.live-item-price {
  font-size: 13px;
  font-weight: 700;
  color: #7bdca2;
  margin-bottom: 3px;
}

.live-item-img {
  width: 100%;
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.o-body {
  width: 100%;
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.o-bg {
  width: 88px;
  height: 108px;
}

.o-item {
  padding: 0;
}

.el-pagination {
  text-align: center;
  margin: 20px 0;

  ::v-deep {
    button:disabled {
      background-color: transparent;
    }

    .el-pager li {
      background-color: transparent;
      color: #6240da;
    }

    .el-pager li.active {
      color: #FFFFFF;
    }

    .el-input__inner {
      background-color: transparent;
      border: 1px solid #6240da;
      color: #6240da;
    }

    .el-pagination__jump {
      color: #6240da;
    }

    .el-input__inner:focus, .el-input__inner:hover {
      border-color: #6240da;
    }

    .btn-next, .btn-prev {
      background: center center no-repeat transparent;
    }

    .el-pagination__total {
      color: #6240da;
    }
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}

@media only screen and (max-width: 1439px) {
}

@media only screen and (max-width: 1199px) {
  .live-item {
    flex-basis: 20%;
    max-width: 20%;
  }

  .store-main-header {
    flex-wrap: wrap;
  }

  .store-search {
    max-width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .live-item {
    flex-basis: 25%;
    max-width: 25%;
  }

  .store-sum {
    padding: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .live-item {
    flex-basis: 50%;
    max-width: 50%;
  }

  .store-inner {
    padding: 0;
  }
}

@media only screen and (max-width: 479px) {
}

.live-item-bg-zi{
background: url(../../../assets/img/zi.png); 
}
.live-item-bg-hong{
background: url(../../../assets/img/hong.png); 
}
.live-item-bg-bai{
background: url(../../../assets/img/bai.png); 
}
.live-item-bg-lan{
background: url(../../../assets/img/lan.png); 
}
.live-item-bg-fen{
background: url(../../../assets/img/fen.png); 
}
.live-item-bg-huang{
background: url(../../../assets/img/huang.png); 
}
.live-item-bg{
background-size: 100% 100%;
}