//main
$mainBg: #409eff;

// $primary-color: #916bd0;
$primary-color: #72199f;
$primary-color-active: #9129c6;

$mobile-max-size: 767px;    // 手机
$table-min-size: 768px;    // 平板
$pc-min-size: 992px;   // 电脑
$desktop-min-size: 1200px;  // 大显示器
